.sectionFeatures{
    margin-left: 3rem;
 }
 
 .img__features{
     width: 80%;
     top: 20%;
     max-height: 25rem;
     object-fit: cover;
 }
 
 .right__features{
     transform: translateX(100%);
 }