img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row.-vcenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-push-1 {
  position: relative;
  left: 8.33333%;
}

.col-pull-1 {
  position: relative;
  right: 8.33333%;
}

.col-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-push-2 {
  position: relative;
  left: 16.66667%;
}

.col-pull-2 {
  position: relative;
  right: 16.66667%;
}

.col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-push-3 {
  position: relative;
  left: 25%;
}

.col-pull-3 {
  position: relative;
  right: 25%;
}

.col-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-push-4 {
  position: relative;
  left: 33.33333%;
}

.col-pull-4 {
  position: relative;
  right: 33.33333%;
}

.col-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-push-5 {
  position: relative;
  left: 41.66667%;
}

.col-pull-5 {
  position: relative;
  right: 41.66667%;
}

.col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-push-6 {
  position: relative;
  left: 50%;
}

.col-pull-6 {
  position: relative;
  right: 50%;
}

.col-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-push-7 {
  position: relative;
  left: 58.33333%;
}

.col-pull-7 {
  position: relative;
  right: 58.33333%;
}

.col-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-push-8 {
  position: relative;
  left: 66.66667%;
}

.col-pull-8 {
  position: relative;
  right: 66.66667%;
}

.col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-push-9 {
  position: relative;
  left: 75%;
}

.col-pull-9 {
  position: relative;
  right: 75%;
}

.col-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-push-10 {
  position: relative;
  left: 83.33333%;
}

.col-pull-10 {
  position: relative;
  right: 83.33333%;
}

.col-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-push-11 {
  position: relative;
  left: 91.66667%;
}

.col-pull-11 {
  position: relative;
  right: 91.66667%;
}

.col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

.col-push-12 {
  position: relative;
  left: 100%;
}

.col-pull-12 {
  position: relative;
  right: 100%;
}

@media screen and (min-width: 640px) {
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-push-1 {
    position: relative;
    left: 8.33333%;
  }
  .col-md-pull-1 {
    position: relative;
    right: 8.33333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-push-2 {
    position: relative;
    left: 16.66667%;
  }
  .col-md-pull-2 {
    position: relative;
    right: 16.66667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-push-3 {
    position: relative;
    left: 25%;
  }
  .col-md-pull-3 {
    position: relative;
    right: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-push-4 {
    position: relative;
    left: 33.33333%;
  }
  .col-md-pull-4 {
    position: relative;
    right: 33.33333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-push-5 {
    position: relative;
    left: 41.66667%;
  }
  .col-md-pull-5 {
    position: relative;
    right: 41.66667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-push-6 {
    position: relative;
    left: 50%;
  }
  .col-md-pull-6 {
    position: relative;
    right: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-push-7 {
    position: relative;
    left: 58.33333%;
  }
  .col-md-pull-7 {
    position: relative;
    right: 58.33333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-push-8 {
    position: relative;
    left: 66.66667%;
  }
  .col-md-pull-8 {
    position: relative;
    right: 66.66667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-push-9 {
    position: relative;
    left: 75%;
  }
  .col-md-pull-9 {
    position: relative;
    right: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-push-10 {
    position: relative;
    left: 83.33333%;
  }
  .col-md-pull-10 {
    position: relative;
    right: 83.33333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-push-11 {
    position: relative;
    left: 91.66667%;
  }
  .col-md-pull-11 {
    position: relative;
    right: 91.66667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-push-12 {
    position: relative;
    left: 100%;
  }
  .col-md-pull-12 {
    position: relative;
    right: 100%;
  }
}

@media screen and (min-width: 960px) {
  .col-l-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-l-offset-1 {
    margin-left: 8.33333%;
  }
  .col-l-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-l-offset-2 {
    margin-left: 16.66667%;
  }
  .col-l-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-l-offset-3 {
    margin-left: 25%;
  }
  .col-l-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-l-offset-4 {
    margin-left: 33.33333%;
  }
  .col-l-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-l-offset-5 {
    margin-left: 41.66667%;
  }
  .col-l-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-l-offset-6 {
    margin-left: 50%;
  }
  .col-l-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-l-offset-7 {
    margin-left: 58.33333%;
  }
  .col-l-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-l-offset-8 {
    margin-left: 66.66667%;
  }
  .col-l-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-l-offset-9 {
    margin-left: 75%;
  }
  .col-l-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-l-offset-10 {
    margin-left: 83.33333%;
  }
  .col-l-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-l-offset-11 {
    margin-left: 91.66667%;
  }
  .col-l-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-l-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right_box {
  text-align: right;
  position: absolute;
  z-index: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2rem;
}

.col-1 {
  max-width: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
}

.col-2 {
  max-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}

.col-3 {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col-4 {
  max-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.col-5 {
  max-width: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
}

.col-6 {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-7 {
  max-width: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
}

.col-8 {
  max-width: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
}

.col-9 {
  max-width: 75%;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col-10 {
  max-width: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
}

.col-11 {
  max-width: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
}

.col-12 {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media only screen and (min-width: 62rem) {
  .col-l-1 {
    max-width: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-l-2 {
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-l-3 {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-l-4 {
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-l-5 {
    max-width: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-l-6 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-l-7 {
    max-width: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-l-8 {
    max-width: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-l-9 {
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-l-10 {
    max-width: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-l-11 {
    max-width: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-l-12 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.button {
  background: #be159a;
  color: white;
  font-size: 1rem;
  border: 2px solid #be159a;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.button__selection {
  display: none;
}

.button.-active .button__label {
  display: none;
}

.button.-active .button__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button:hover {
  color: #be159a;
  background: white;
}

.button.-secondary {
  background: #333333;
}

/*bouton d'achat + anim hover*/
.buttonAchat {
  border: 0;
  text-decoration: none;
  line-height: 2.5;
  padding: 7px 42px;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #000000;
  border-radius: 20px;
  background: linear-gradient(164deg, #a8e2fb 31%, #72d4ff 57%);
}

.buttonAchat:hover {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: anim-pulse 2s infinite;
          animation: anim-pulse 2s infinite;
}

@-webkit-keyframes anim-pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(168, 226, 251, 0.7);
            box-shadow: 0 0 0 0 rgba(168, 226, 251, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
            box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
            box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

@keyframes anim-pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(168, 226, 251, 0.7);
            box-shadow: 0 0 0 0 rgba(168, 226, 251, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
            box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
            box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

/*bouton autre + anim hover*/
.buttonAutre {
  text-decoration: none;
  line-height: 2.5;
  padding: 7px 40px;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #000000;
  border-radius: 20px;
  border: solid #1d3540 2px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.buttonAutre:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background: #1d3540;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.buttonAutre:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.buttonAutre:hover {
  cursor: pointer;
  color: #ffffff;
}

.title {
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 640px) {
  .title {
    font-size: 1.625rem;
    line-height: 1.625rem;
  }
}

.subtitle {
  font-size: 1rem;
  line-height: 1rem;
  color: #333333;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

@media screen and (min-width: 640px) {
  .subtitle {
    font-size: 1.125rem;
    line-height: 1.125rem;
  }
}

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 1rem;
  line-height: 1.125rem;
}

.label {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}

.input {
  color: #333333;
  background: #ccc;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 640px) {
  .input {
    color: white;
  }
}

.burger {
  position: relative;
  margin: 16px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #333;
  cursor: pointer;
  z-index: 100;
}

.burger.-active {
  background: #333;
}

.watch {
  position: relative;
  padding: 0;
}

.watch__dial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.c-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10;
}

.c-nav.-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

.c-nav.-open .c-nav__item {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

.c-nav.-open .c-nav__item:nth-of-type(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.c-nav.-open .c-nav__item:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.c-nav.-open .c-nav__item:nth-of-type(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.c-nav.-open .c-nav__item:nth-of-type(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.c-nav.-open .c-nav__item:nth-of-type(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.c-nav.-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: fadeOutRight;
          animation-name: fadeOutRight;
}

.c-nav__list {
  padding: 0;
  list-style: none;
}

.c-nav__item {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.c-nav__link {
  display: inline-block;
  padding: 1rem;
  color: #333;
  text-decoration: none;
  font-size: 1.375rem;
  line-height: 1.5rem;
  font-family: "Roboto";
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.c-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10;
}

.c-nav.-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

.c-nav.-open .c-nav__item {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

.c-nav.-open .c-nav__item:nth-of-type(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.c-nav.-open .c-nav__item:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.c-nav.-open .c-nav__item:nth-of-type(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.c-nav.-open .c-nav__item:nth-of-type(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.c-nav.-open .c-nav__item:nth-of-type(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.c-nav.-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: fadeOutRight;
          animation-name: fadeOutRight;
}

.c-nav__list {
  padding: 0;
  list-style: none;
}

.c-nav__item {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.c-nav__link {
  display: inline-block;
  padding: 1rem;
  color: #333;
  text-decoration: none;
  font-size: 1.375rem;
  line-height: 1.5rem;
  font-family: "Roboto";
}

.c-product {
  width: 300px;
  border: 1px solid #333;
}

.c-product__button {
  margin-bottom: 18px;
}

.c-product__title {
  border-top: 1px solid #333;
}

.c-colorDots {
  padding: 0;
}

.c-colorDots__item {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: gray;
  display: inline-block;
  margin: 0 0.5rem;
  position: relative;
  cursor: pointer;
}

.c-colorDots__item.-orange {
  background: #eb8d22;
}

.c-colorDots__item.-bleu {
  background: #131361;
}

.c-colorDots__item.-marron {
  background: #4e0f0f;
}

.c-colorDots__item.-green {
  background: #12c220;
}

.c-colorDots__item.-violet {
  background: #6d12c2;
}

.c-colorDots__item.-noir {
  background: #000;
}

.c-colorDots__item.-jaune {
  background: yellow;
}

.c-colorDots__item.-active:before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: -4px;
  top: -4px;
  border-radius: 100%;
  border: 2px solid black;
}

.c-dots {
  padding: 0;
  list-style: none;
}

.c-dots__item {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 36px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  border: 2px solid #ddd;
  display: inline-block;
  cursor: pointer;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.c-dots__item.-active {
  border: 2px solid black;
}

.c-form {
  max-width: 600px;
  margin: auto;
}

.c-form__label {
  display: inline-block;
  margin: 1rem 0 0.5rem;
}

.c-form__buttonContainer {
  text-align: center;
  padding-top: 1rem;
}

.sectionVideo {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40rem;
}

.homevideo {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.sectionAdvantage {
  text-align: center;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 80vh;
}

.advantage {
  text-align: center;
  padding: 0.5rem;
  margin: 5rem auto;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.buttonAdvantage {
  position: absolute;
  top: 450%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.background__image {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 40rem;
  opacity: 5%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
}

li {
  list-style: none;
}

.sectionPartnershome {
  margin-left: 5rem;
}

.sectionFeatures {
  margin-left: 3rem;
}

.img__features {
  width: 80%;
  top: 20%;
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.right__features {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.sectionSuivi {
  margin-top: 80px;
}

.imgSuivi {
  display: -ms-grid;
  display: grid;
  width: 100%;
  position: relative;
  -webkit-filter: brightness(0.85);
          filter: brightness(0.85);
  -o-object-fit: cover;
     object-fit: cover;
}

.imgSuivi:hover {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  width: 100%;
}

.suiviSport {
  top: -10%;
  height: 50%;
}

.suiviSport__section {
  margin-bottom: -400px;
}

.suivi {
  z-index: 50;
  position: absolute;
  top: 130%;
  margin-left: 12%;
}

.suiviactivite {
  z-index: 50;
  position: absolute;
  top: 180%;
  margin-left: 42%;
}

section {
  background-image: url("./image/image@x1.jpg");
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  section {
    background-image: url("./image/image@x2.jpg");
  }
}

/*
body{
    background : rgb(255, 175, 71);
}*/
#woocommerce-hidden {
  display: none;
}

.step {
  display: none;
}

#step-1 {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fonctions {
  padding: 100px 0;
  position: relative;
}

@media all and (max-width: 959px) {
  .fonctions {
    padding: 200px 0 100px;
  }
}

@media all and (min-width: 960px) {
  .fonctions {
    background: #111111;
  }
}

.fonctions__titre {
  text-align: left;
}

@media all and (max-width: 959px) {
  .fonctions__titre {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media all and (min-width: 960px) {
  .fonctions__titre {
    color: white;
    margin-bottom: 32px;
  }
}

.titre {
  display: block;
  text-align: center;
}

.titre > p {
  margin: 0;
}

.titre > p:first-of-type {
  font-size: 1.875rem;
  line-height: 1.875rem;
  margin-bottom: 6px;
}

.titre > p:nth-of-type(2) {
  font-family: "roboto";
  font-size: 3.125rem;
  line-height: 3.125rem;
  color: #21b2eb;
}

.fonction {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 460px) {
  .fonction {
    padding: 0 24px;
  }
}

@media all and (min-width: 960px) {
  .fonction {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.fonction__img {
  width: 140px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@media all and (min-width: 460px) {
  .fonction__img {
    width: 260px;
  }
}

@media all and (min-width: 960px) {
  .fonction__img {
    width: 300px;
  }
}

.fonction__content {
  padding: 0 12px;
}

@media all and (min-width: 460px) {
  .fonction__content {
    padding: 0 24px;
  }
}

@media all and (min-width: 960px) {
  .fonction__content {
    padding: 0 144px;
    max-width: 628px;
  }
  .fonction__content > p {
    color: white;
  }
  .fonction__content > p:first-of-type {
    color: #707070;
  }
}

.fonction:nth-of-type(2n + 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fonction:last-of-type {
  display: none;
}

@media all and (min-width: 460px) {
  .fonction:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

.header__burgercontainer {
  text-align: right;
}
/*# sourceMappingURL=main.css.map */